{% extends "partials/layout.html" %}

            {% block headertop %}
                {% include "partials/headertop.html" %}
            {% endblock headertop %}

            {% block section1 %}
                {% include "partials/section1.html" %}
            {% endblock section1 %}

            {% block section2 %}
                {% include "partials/section2.html" %}
            {% endblock section2 %}

            {% block section3 %}
                {% include "partials/section3.html" %}
            {% endblock section3 %}

            {% block section4 %}
                {% include "partials/section4.html" %}
            {% endblock section4 %}

            {% block footer %}
                {% include "partials/footer.html" %}
            {% endblock footer %}

            {% block script %}
                {% include "partials/script.html" %}
            {% endblock script %}    
            
       